label {
    margin-bottom: 5px;
}
body {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.left-right-container{
    display: flex;
    min-height: 100vh;
}

.main-page-container{
    flex: 1 1 auto;
    padding: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor-container {
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #fff;
    color: #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    outline: none;
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
}

textarea:focus {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly larger shadow on focus for a subtle effect */
}
.sticky-column {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    /* width: 100%; */
    /* height: 30vh; */
    width: 300px;
    position: relative;
    padding: 10px;
}
.resize-column{
    width: 20px;
    position: sticky;
    height: 100vh;
    top: 0;
}
.sticky-container {
    width: 100%;
    position: sticky;
    top: 10px;
    max-height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
}
.sliders {
    flex: 1;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 100%;
    flex-shrink: 0;
    width: 100%;
}
.canvas-container {
    /* height: 100%; */
    width: 100%;
    aspect-ratio: 1 / 1;
}
.canvas-container > canvas {
    border: 1px solid black;
}
.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
}
.hidden {
    display: none;
}
button {
    margin-bottom: 200px;
}
#resizeHandle {
    width: 15px;
    height: 100vh;
    background: repeating-linear-gradient(
        45deg,
        #e3e3e3,
        #e3e3e3 10px,
        #f1f1f1 10px,
        #f1f1f1 20px
    );
    cursor: ew-resize;
    position: sticky;
    top: 0;
}
#resizeHandleInner {
    width: 6px;
    height: 50px;
    background: #ffffff;
    border-radius: 3px;
    cursor: ew-resize;
    position: absolute;
    bottom: 50%;
    right: 4.5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.button-container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#updateButton {
    margin-left: auto;
}


.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#resetButtonPendulum,
#resetButtonAcrobot {
    flex-grow: 0;
}

/* #updateButton {
    flex-grow: 0;
    margin-left: auto;
} */

/* existing styles */

.button-container {
    width: 100%;
    display: flex;
    /* justify-content: left; */
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.left-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.left-buttons input {
    margin-right: 10px; 
}
.left-buttons input:last-child {
    margin-right: 0; 
}
.center-filler {
    flex-grow: 1;
}

.right-button {
    display: flex;
}

/* existing styles */
.fancy-button {
    display: inline-block;
    margin: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #6fd0cb, #7DB9B6);
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
}
.fancy-button-grey {
    background: linear-gradient(to right, #cbcbcb, #909090);
}

.fancy-button:hover, .car-input:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.fancy-button:disabled, .car-input:disabled {
    background: linear-gradient(to right, #cccccc, #dddddd);
    color: #666666;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.7;
}

.fancy-button-small, .car-input {
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 70%;
}

.fancy-button-small:hover, .car-input:hover {
    transform: translateY(-2.5px);
    box-shadow: 0 4px 7.5px rgba(0, 0, 0, 0.3);
}


.info-container{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}


code {
    background-color: #f6f8fa;
    border-radius: 6px;
    font-family: monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #d63384;
    border: 1px solid #d1d5da;
}

.vim-switch{
    margin-top: 10px;
}
.vim-switch > span {
    position: relative;
    bottom: 3.5px;
}

.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #67b1ae; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }
